<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soccersocialnetwork">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TranDuyHuynh.edit_profile_user"></activity>
        <activity android:name=".TranDuyHuynh.all_stadiums"></activity>
        <activity android:name=".DoanThanhTung.ViewThanhTung.ThemThanhVien"></activity>
        <activity android:name=".TranDuyHuynh.TimKiemUserActivity"></activity>
        <activity android:name=".DoanThanhTung.ViewThanhTung.Doi_ThongTin_ChinhSua" />
        <activity android:name=".TranDuyHuynh.infomation_dangtintimtran" />
        <activity android:name=".football_field_owner.activity.AddZoneActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".DoanThanhTung.ViewThanhTung.DoiActivity" />
        <activity android:name=".DoanThanhTung.ViewThanhTung.Doi_ThongTinCaNhan" />
        <activity android:name=".Set_Foothball_Pitches.activity.SetFoothballPitchesActivity" />
        <activity android:name=".DoanThanhTung.ViewThanhTung.TaoDonActivity" />
        <activity android:name=".LoginActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".TranDuyHuynh.home_layout"></activity>
    </application>

</manifest>